<a href="https://colab.research.google.com/github/chethan202004/class1_assign/blob/main/class_1_assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!") #basic print

Hello World!

In [13]:
cost=8000
n=21
c_person=255
total=n*c_person
profit=total-cost
print(profit)

-2645

In [14]:
#use if-else statements and print out the required information:
num= 19
#complete this area
if num%4==0 and num%5==0:
  print("no. is divisible by 4 and 5")
elif num%4==0:
  print("no. is divisible by 4")
elif num%5==0:
  print("no. is divisible by 5")
else:
  print("no not divisible by both 4 and 5")

no not divisible by both 4 and 5

In [6]:
str="PROJECTIO"
cnt=0
for i in str:
  if i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
    cnt=cnt+1
print("no of vowels in the string is = ",cnt)

no of vowels in the string is =  4

In [7]:
#Define a random list of fruits 
l=['apple','orange','pear']
#iterate over the list and find the name of the fruit which has the smallest word length
min=0
for i in l:
  x=len(i)
  if x<min:
    min=x
    smallest_word=i
print("the word having the smallest length is:",i)
# append a vegetable to your existing list
l.append('onion')
print(l)
# find the size of your list
print("size of the list is:",len(l))
# add enough fruits such that your list size if greater that 4
l.append('pineapple')
print(l)
# delete the 2nd fruit(1st index) from your list:
l.pop(1)
print(l)
# add your name in the 4th position of the list (3rd index)
l.insert(3,'chethan')
print(l)

the word having the smallest length is: pear
['apple', 'orange', 'pear', 'onion']
size of the list is: 4
['apple', 'orange', 'pear', 'onion', 'pineapple']
['apple', 'pear', 'onion', 'pineapple']
['apple', 'pear', 'onion', 'chethan', 'pineapple']

In [8]:
#create abd tuple and print its elements 
abd=(10,20,30,40,50,'a','abcd',1.55)
#print the type of each value in the tuple
for i in abd:
  print(type(i))
#try to change the second value in your tuple to "Caterpillar"
x=list(abd)
x[1]="Caterpillar"
abd=tuple(x)
print(abd)
# print the last element of the tuple without using the length of the tuple
print(abd[-1])

print(abd[::-1])#prints in reverse order
print(abd[1:])#prints from the 2nd element/or the 1st index
print(abd[:-1])#prints all the elements except the last element(i.e.2nd parameter is the last index(which is not included)) 
print(abd[-2:])#prints from the last 2nd index till the end of the string
print(abd[:5])#prints from 0th index to the 4th index
x=[5,3,4,1,2]
print(sorted(x))
print(x)#when this statement is executed, we see that the original tuple(datatype) has not been changed
x.sort()
print(x)#here we see that the datatype itself has been sorted

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
(10, 'Caterpillar', 30, 40, 50, 'a', 'abcd', 1.55)
1.55
(1.55, 'abcd', 'a', 50, 40, 30, 'Caterpillar', 10)
('Caterpillar', 30, 40, 50, 'a', 'abcd', 1.55)
(10, 'Caterpillar', 30, 40, 50, 'a', 'abcd')
('abcd', 1.55)
(10, 'Caterpillar', 30, 40, 50)
[1, 2, 3, 4, 5]
[5, 3, 4, 1, 2]
[1, 2, 3, 4, 5]

In [9]:
#explore the properties of set and after doing that solve this little puzzle below:

In [11]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!
str="pes college is in electronic city"
x=set(str.split())
print(x)

{'city', 'college', 'in', 'pes', 'is', 'electronic'}

In [12]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    #------fill your code here-----------------
    for i in my_list:
      if i in freq:
        freq[i]+=1
      else:
        freq[i]=1
    print(freq)
# Driver function
if __name__ == "__main__":
    my_list =[1,3,22,1,4,1,2,1,4,22,19,1,19]
 
    CountFrequency(my_list)

{1: 5, 3: 1, 22: 2, 4: 2, 2: 1, 19: 2}